<div class="sidebar overview-sidebar">
    <ul class="menu">
        <li><span class="link active" data-link="h3-what-is">Что такое Well</span></li>
        <li><span class="link" data-link="h3-usage">Применение</span></li>
        <li><span class="link" data-link="h3-features">Features</span></li>
    </ul>
</div>
<div class="content">
    <h3 id="h3-what-is">Что такое Well?</h3>
    <article class="markdown-body entry-content" itemprop="mainContentOfPage"><p><strong>Welljs</strong> - это, основанный на AMD (Asynchronous Module Definition), JavaScript-фреймворк предназначенный для развертывания и масштабирования клиентских приложений. Ключевая особенность - это систематизированная работа с модулями и их зависимостями. В качестве AMD-движка Well использует <a href="http://requirejs.org/">Require.js</a>, но позволяет легко заменить его на любой другой.</p>

        <p>Так выглядит модуль  Well:</p>

        <div class="highlight highlight-JavaScript"><pre><span class="c1">// в любой модуль в качестве аргумента передается</span>
<span class="c1">// ссылка на приложение</span>
<span class="nx">wellDefine</span><span class="p">(</span><span class="s1">'Views:Pages:AboutWell'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">app</span><span class="p">)</span> <span class="p">{</span>
  <span class="c1">// зависимости можно подключать последовательно одна за другой, </span>
  <span class="c1">// или цепочкой this.use().use().use().options().export();</span>
  <span class="k">this</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="s1">'Views:Common:Page'</span><span class="p">);</span>
  <span class="k">this</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="s1">'Views:Partials:Sidebar'</span><span class="p">);</span>
  <span class="k">this</span><span class="p">.</span><span class="nx">use</span><span class="p">(</span><span class="s1">'Plugins:VendorName:PluginName'</span><span class="p">);</span>
  <span class="c1">// тут хранятся дополнительные параметы, к которым можно обратиться </span>
  <span class="c1">// через someModule.getOption('paramName')</span>
  <span class="k">this</span><span class="p">.</span><span class="nx">options</span><span class="p">({</span>
    <span class="nx">template</span><span class="o">:</span> <span class="s1">'Pages:AboutWell'</span><span class="p">,</span>
    <span class="nx">otherOption</span><span class="o">:</span> <span class="s1">'paramValue'</span>
  <span class="p">});</span>
  <span class="c1">// эта колбэк-функция вызовется при app.Module.get('Views:Pages:AboutWell');</span>
  <span class="k">this</span><span class="p">.</span><span class="kr">export</span><span class="p">(</span><span class="kd">function</span><span class="p">(</span><span class="nx">args</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// module code</span>
    <span class="c1">// all the dependencies are available here</span>
  <span class="p">});</span>
<span class="p">});</span>
</pre></div>

        <p>Для удобного ориентирования, наименования модулей в Welljs соответствуют их путям. Т.е. <code>'Views:Pages:AboutWell'</code> хранится в <code>views/pages/about-well.js</code>. </p>

        <p>Если у модуля есть зависимости, они указываются через <code>this.use('Path:To:DependencyModule')</code>. Если зависимый модуль находится в той же директории что и исходный, то его можно указать кратко: <code>this.use(':DependencyModule')</code> </p>

        <h3 id="h3-usage">
            <a name="user-content-%D0%9F%D1%80%D0%B8%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5" class="anchor" href="#%D0%9F%D1%80%D0%B8%D0%BC%D0%B5%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5" aria-hidden="true"><span class="octicon octicon-link"></span></a>Применение</h3>

        <p>Модули загружаются следующим образом:</p>

        <div class="highlight highlight-javascript"><pre><span class="c1">// app - неймспес приложения. доступен везде</span>
<span class="c1">// Modules - контроллер модулей</span>
<span class="nx">app</span><span class="p">.</span><span class="nx">Modules</span><span class="p">.</span><span class="nx">require</span><span class="p">([</span>
    <span class="s1">'Full:ModuleName:Foo'</span><span class="p">,</span>
    <span class="s1">'Full:ModuleName:Bar'</span><span class="p">,</span>
    <span class="s1">'Full:ModuleName:Baz'</span>
  <span class="p">],</span>
  <span class="kd">function</span> <span class="p">(</span><span class="nx">modules</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// выполняется при удачной загрузке модулей</span>
    <span class="c1">// modules - загруженные модули</span>
  <span class="p">},</span>
  <span class="kd">function</span><span class="p">(</span><span class="nx">err</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">//error handler</span>
  <span class="p">}</span>
<span class="p">);</span>
</pre></div>

        <p>Так вызываются:</p>

        <div class="highlight highlight-javascript"><pre><span class="kd">var</span> <span class="nx">MyModule</span> <span class="o">=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">Modules</span><span class="p">.</span><span class="nx">get</span><span class="p">(</span><span class="s1">'Foo:Bar:MyModule'</span><span class="p">);</span>
<span class="kd">var</span> <span class="nx">myModule</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyModule</span><span class="p">({</span><span class="nx">option</span><span class="o">:</span> <span class="s1">'some option'</span><span class="p">});</span>
</pre></div>

        <br/>
        <h3 id="h3-features">
            <a name="user-content-features" class="anchor" href="#features" aria-hidden="true"><span class="octicon octicon-link"></span></a>Features</h3>

        <ul class="task-list">
            <li>
                <strong>Удобное подключение зависимостей</strong> Зависимости подключаются линейно внутри модуля, и доступны в секции <em>export</em>. </li>
            <li>
                <strong>Система имен</strong> Наименования модулей соответсвуют их путям. Это позволяет легко разбираться в структуре проекта, а так же без проблема подключать модули написанные другими разработчиками.</li>
            <li>
                <strong>Поддержка AMD</strong> Из коробки Welljs подключает модули посредством Require.js, но дает возможность использовать другие библиотеки.</li>
            <li>
                <strong>Плагины</strong> Welljs дает разработчикам возможность писать собственные плагины и делиться ими через пакетный менеджер Bower.</li>
            <li>
                <strong><a href="/welljs/welljs/blob/master/backbonejs.org">Backbone-приложение</a></strong> В комплект Well включены плагины Router, Views, Models, Collections, Templates, которые позволят быстро развернуть Backbone-приложение. <a href="https://github.com/welljs/welljs/tree/master/example/development">Пример на GitHub</a>
            </li>
            <li>
                <strong>Фреймворки</strong> Если вы используете другой фреймворк, например Angular, можете написать плагины для работы с Angular&nbsp;</li>
            <li>
                <strong>Приложения</strong> Структура Well позволяет создавать несколько приложений которые будут использовать одни и те же плагины и библиотеки. Нужно только <a href="http://welljs.org/#installation/applications">настроить</a> Nginx</li>
            <li>
                <strong>Сборка</strong>. Из коробки предлагается сборщик проекта для Gulp</li>
        </ul><p><a href="http://welljs.org/#documentation">Документация и пример к проекту</a></p>
    </article>
</div>
