{{> header}}
<div class="main-layout">
    <div class="page">
    </div>
    <div class="cb"></div>
</div>
<div id="footer">
    <div class="wrapper">
        <ul>
            <li class="copyright">Welljs {{copyright}}</li>
            <li class="github">
                <i class="fa fa-github"></i>
                <a target="_blank" href="https://github.com/welljs/welljs">GitHub</a>
            </li>
            <li class="stack-overflow">
                <i class="fa fa-stack-overflow"></i>
                <a target="_blank" href="http://stackoverflow.com/questions/tagged/welljs/?sort=newest&pagesize=15">Stack Overflow</a>
            </li>
        </ul>
        <div class="cb"></div>
    </div>
</div>