head
    title Bender-Development
    script(src="/bender/lib/jquery.js")
    script(src="/bender/lib/underscore.js")
    script(src="/bender/lib/backbone.js")
    script(src="/bender/lib/handlebars.js")
    script.
        var ENV = 'development';
    script(src="require.js")
    script(src="/my-app/views/compiled.js")
    script(src="/bender/modules.js")
    script(src="/bender/bender.js")
    script(src="/my-app.js")
